[submodule "pism"]
        path = models/pism-index1.1
        url = https://github.com/sebhink/pism-pub.git
[submodule "esm-tools"]
	path = software/esm-tools
	url = https://gitlab.dkrz.de/esm-tools/esm-tools.git
[submodule "software/esm-runscripts"]
	path = software/esm-runscripts
	url = https://gitlab.dkrz.de/esm-tools/esm-runscripts.git
